* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #0AB2AA;
  font-family: sans-serif;
}

.content {
  flex: 1;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: 40px;
  border-radius: 50%;
}

img,
.title,
.status {
  display:inline-block;
}

.title,
.status {
  margin-left: 10px;
}

.title {
  width: 130px;
}

.container {
  width: 340px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  justify-content: space-between;
}

.menu {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.buttons {
  text-align: center;
  width: 100px;
  padding: 20px;
}

.buttons:hover,
a:hover {
  color: #0AB2AA;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

.fa-exclamation {
  color: orange;
  padding-right: 3px;
}

.handle {
  display: none;
}

/*footer*/

p {
  font-size: 10px;
}

.icons {
  width: 150px;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 70px;
  text-align: center;
}

.fa-free-code-camp:hover {
  color: #006500;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-github:hover,
.footer a:hover {
  color: #292929;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-codepen:hover {
  color: #fff;
}
