* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: coral;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#container {
  width: 340px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

.title{
  width: 120px;
}

img,
.title,
.status {
  display:inline-block;
}

.title,
.status {
  margin-left: 30px;
}

img {
  height: 40px;
  border-radius: 50%;
}

.menu {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.buttons {
  text-align: center;
  width: 100px;
  padding: 20px;
}

.handle {
  display: none;
}

.online {
  background: lightgreen;
}
